
/* Text Style */
body {background-color: black;
} 
h1 {color:#FFCE00;
	font-family: "Raleway", serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	line-height: 24px;
	padding-bottom: 20px;
	}
h2 {color:#FFCE00;
	font-family: "Raleway", serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	}
h3 {color:#fff;
	font-family: "Raleway", serif;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 0.3em;
	}
p {	color:#fff;
	font-family: "Raleway", serif;
	font-size: 12px;
	font-weight: medium;
	text-transform: none;
	letter-spacing: 1.5px;
	line-height: 24px;
	padding-bottom: 15px;
	}

/* Button Style */
.button-link {
	background-color: #FFCE00; /* Yellow */
    border-width: 2px;
	border-color: #FFCE00;
	color: black;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 24px;
}

.button-link:hover {
	background-color: black;
	border-width: 2px;
	border-color: #FFCE00;
    color: #FFCE00;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 24px;
}

.top-pad {
	padding-top: 150px;
}

.pad {
	padding-left: 40px;
	padding-right: 40px;
}


/* Navigation */

.navbar {
	display: none;
	position: initial;
}

.bg-dark {
    background-color: black!important;
}

.nav-link {
	color: black !important;
	font-size: 12px;
	font-weight: bold;
}

/* Navigation Mobile */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #FFCE00;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left;
    padding-left: 20px;
    margin-top: 4d0px; 
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: black;
    display: block; /* Display block instead of inline */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* Logo */
.CK-link {
	padding-left: 40px;
}

/* Video */
.containerVideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Yellow Lines */
#yellow-line-top {
	width: 100%;
	height: 15px;
	top: 0;
	left: 0;
	right: 0;
}

#yellow-line-bottom {
	width: 100%;
	height: 15px;
	bottom: 0;
	left: 0;
	right: 0;
}

.websiteFrame {
	position:fixed;
	z-index: 990;
	background-color:#FFCE00;
}

.container2 {
	padding-left: 0;
	padding-right: 0;
}

.bottom-pad {
	margin-bottom: 100px;
}

/* small */
@media (min-width: 576px) {
	.top-pad {
		padding-top: 160px;
	}
	.pad {
		padding-left: 70px;
	}
	.CK-link {
		padding-left: 50px;
	}
	.navbar {
		display: flex;
	}
}

/* medium */
@media (min-width: 768px) {
	.top-pad {
		padding-top: 160px;
	}
	.bg-dark {
    	background-color: black!important;
	}
	.nav-link {
		color: white!important;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.2em;
	}
	.nav-link:hover {
		color: #FFCE00!important;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.2em;
	}
	.menubutton {
		display: none;
	}
	.navbar {
		display: flex;
	}
}

/* large */
@media (min-width: 992px) {
	.top-pad {
		padding-top: 200px;
	}
	.pad {
		padding-left: 120px;
	}
	.CK-link {
		padding-left: 120px;
	}
	ul { 
		padding-right: 70px; 
	}
}

/* extra large */
@media (min-width: 1200px) {
	.top-pad {
		padding-top: 200px;
	}
		ul { 
		padding-right: 100px; 
	}

}

